/* Cabecera */
header {
    background-image: url('../img/cabecera-embarazo.jpg');
}
/* Fin cabecera */

/* Acordeones */
#acordeones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 40px;
}

.accordion {
    width: 60%;
    --bs-accordion-border-color: none;

    .accordion-button {
        height: 8rem;
        background-color: #f9cc9d78;

        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.8rem;
            width: 100%;
            color: black;
            
            i {
                font-size: 2em;
                color: black;
            }
        }
    }

    .accordion-button:not(.collapsed) {
        background-color: #F5AC5C;
    } 
    
    .accordion-button:hover {
        background-color: #F5AC5C;
    }

    .accordion-body {
        background-color: #F5AC5C;
    }
    
    
}


.list-accordion {
    text-align: center;

    li {
        list-style: none;
    }
}
/* Fin acordeones */